/** {
  border: 1px solid red;
}*/

.top-bar {
  background-color: blue;
  height: 130px;
  padding: 8px;
}

.top-bar p, label, input {
  display: inline;
  font-size: 8pt;
  color: white;
}

.p-left {
  margin-right: 60px;
}

.p-right {
  margin-left: 190px;
}

.nav-bar {
  font-size: 8pt;
  height: 30px;
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  background-color: royalblue;
}

.row {
  display: flex;
}

.col {
  float: left;
}

.profile-cols {
  float: left;
  margin-left: 6px;
}

.profile-cols p {
  font-size: 8pt;
  line-height: 3px;
}

#profile-info {
  margin-top: 40px;
  margin-left: 10px;
}

#profile-footer {
  clear: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 8pt;
  position: inherit;
}

.contact-tom {
  border: 1px solid royalblue;
  height: 160px;
  width: 350px;
}

.contact-tom p {
  background-color: royalblue;
  margin-top: 0px;
  color: white;
}

#contact-buttons {
  list-style-type: none;
}

.contact-buttons-left {
  left: 200px;
  position: absolute;

}
.contact-buttons-right {
  position: absolute;
  left: 350px;
}

.myspace-url {
  border: 1px solid royalblue;
  font-size: 8pt;
  margin-top: 20px;
  line-height:3px;
  padding-left: 10px;
}

#interests {
  font-size: 8pt;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid royalblue;
  margin-top: 20px;
}

.toms-interests{
    background-color: royalblue;
    color: white;
    padding-left: 20px;
    margin-top:0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8em;
}

.interest-box {
  display: flex;
}

.interest-box p {
  margin: 2px;
  background-color: lightblue;
}

.interest-box .interest-title {
  min-width: 100px;
  background-color: lightsteelblue;
  color: royalblue;
  font-weight: bold;
}

.schools {
  font-size: 8pt;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid royalblue;
  margin-top: 20px;
}
.toms-school {
  background-color: royalblue;
  color: white;
  padding-left: 20px;
  margin-top:0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8em;
}
.schools-box {
  display: flex;
  align-content: stretch;
}

.schools-box p {
  margin: 2px;
  background-color: lightblue;
}

.schools-box .schools-title {
  background-color: lightsteelblue;
  color: royalblue;
  min-width: 270px;
 }

 .school-years {
   min-width: 70px;
   text-align: center;
 }
#column-right {
  padding: 20px;
}
 #toms-network {
   border: 2px solid black;
   font-weight: bold;
   line-height: 2em;
   font-size: 14px;
   padding: 15px 60px;
 }

 .toms-blog {
   font-size: 8pt;
   line-height: 2.2em;
 }

.toms-blurbs {
  font-size: 8pt;
}

.toms-blurbs br {
  line-height: 2.4em;
}

#toms-blurb-title, #toms-friend-title {
  background-color: SandyBrown;
  padding: 2px;
}

.orange {
  font-weight: bold;
  color: tomato;
}

.green {
  font-weight: bold;
  color: green;
}

.red {
  font-size: 11pt;
  color: red;
}

.toms-friends {
  font-size: 8pt;
}

.friend-space {
  display: flex;
  flex-wrap: wrap;
}

.friend-box {
  width: 20%;
  margin: 6px;
  display: flex;
  flex-direction: column;
}
